@import "tailwindcss";

:root {
	--background: #fafbf6;
	--foreground: #132d59;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

html {
	scroll-padding-top: 5rem;
}

@media (max-width: 600px) {
	html {
		font-size: 16px;
	}
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
